{% extends 'admin/base.html' %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/images_list/">Список изображений</a> › Загрузка изображений
</div>
{% endblock %}

{% block content %}
<h1>Новое изображение</h1>
<form method="POST" enctype="multipart/form-data" action="{% url 'add_image' %}">
    {% csrf_token %}
    <div>
        <p>Ссылка</p>
        <input type="text" size="30" name='image_link'>
        <p>Файл</p>
        <input type="file" name="files" id="file" accept="image/*">
        <br>
        <br>
        <input type="submit" name='action' value="Отправить">

    </div>
</form>
{% endblock %}